.crystal-image {
      width: 400px;
      height: 400px;

    }

button {
    
      background: none;
      border: none;
    }

img {
  
  height: 200px;
  width: 200px;
}

body {
  background-image: url();
}
/*image*/
/*http://images.all-free-download.com/images/wallpapers_large/molecular_geometry_wallpaper_abstract_3d_wallpaper_46.jpg*/

  